@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-color:pink">
    <header class="text-center">
        <h1 class="display-4">Welcome to Razor pages</h1>
        <h2>By @Model.FullName</h2>
    </header>
   <br /><br />
    <form method="post" class="mx-auto" style="width:200px">
        <p class="col-sm-2">
            <label for="name">Name</label>
            <input type="text" required="true" placeholder="Your Full Name" asp-for="FullName">
        </p>
        <p class="col-sm-4">
            <label for="email">Email Address</label>
            <input type="email" required="true" placeholder="Your Email" name="Email">
        </p>
        <p class="col-sm-2">
            <button type="submit" class="btn btn-primary">
            Register
            </button>
        </p>
        
        <p class="col-sm-2">
            @ViewData["Message"]
        </p>
    </form>
    
</div>